<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<table>
    <thead>
    <tr><th>#</th><th>이름</th><th>전화번호</th><th>주소</th></tr>
    </thead>
    <tbody>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.id}">1</td>
        <td th:text="${employee.name}">홍길동</td>
        <td th:text="${employee.phone}">010-1111-1111</td>
        <td th:text="${employee.address}">서울시 강남구 대치동</td>
    </tr>
    </tbody>
</table>
</body>
</html>