<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base-fragment :: layout( ~{::title}, ~{::link}, ~{::section} )}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://css.gg/css" rel="stylesheet" />
</head>
<body>
<section>
    <table class="table">
        <thead>
        <tr><th>#</th><th>이름</th><th>전화번호</th><th>주소</th></tr>
        </thead>
        <tbody>
        <tr th:each="employee: ${employees}">
            <td th:text="${employee.id}">1</td>
            <td><a href="/employee" th:href="@{/employee(id=${employee.id})}" th:text="${employee.name}"> 홍길동</a></td>
            <td th:text="${employee.phone}">010-1111-1111</td>
            <td th:text="${employee.address}">서울시 강남구 대치동</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>