<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base-fragment :: layout( ~{::title}, ~{::link}, ~{::section} )}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://css.gg/css" rel="stylesheet" />
</head>
<body>
<section>
    <form action="/employee/add" th:action="@{/employee/add}" method="post">
        <label class="form-label">이름<input name="name" class="form-control"/></label><br>
        <label class="form-label">전화<input name="phone" class="form-control"/></label><br>
        <label class="form-label">주소<input name="address" class="form-control"/></label><br>
        <input type="submit" value="추가" class="btn btn-primary"/>
    </form>
</section>
</body>
</html>
