<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base-fragment :: layout( ~{::title}, ~{::link}, ~{::section} )}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://css.gg/css" rel="stylesheet" />
</head>
<body>
<section>
    <ul th:object="${employee}" class="list-group">
        <li th:text="*{id}" class="list-group-item">1</li>
        <li th:text="*{name}" class="list-group-item">홍길동</li>
        <li th:text="*{phone}" class="list-group-item">010-1111-1111</li>
        <li th:text="*{address}" class="list-group-item">서울시 강남구 대치동</li>
    </ul>
    <a class="btn btn-primary" href="/employee-edit" role="button" th:href="@{/employee/edit(id=${employee.id})}">수정</a>
</section>
</body>
</html>